{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.lint.json"
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": 0,
    "no-await-in-loop": 0,
    "no-console": 0,
    "no-continue": 0,
    "no-empty": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-underscore-dangle": 0,
    "@typescript-eslint/ban-types": 0
  }
}
